.ibjj {
    color:coral; 
    font-size: 190%;
    margin-left: 2%;
    font-weight: lighter;
}
.margin-left-font-size-color {
    margin-left: 53%;
    word-spacing: 1.5em;
    font-size: 110%;
    font-weight: lighter;
    letter-spacing: 0.01em;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.word-spacing {
    word-spacing: 0.1em
}
.margin-spacing {
    margin-left: 1.5em;
}
.h1-underline-font-color-size{
    text-align: center;
    font-size: 340%;
    text-decoration: underline;
    font-weight: lighter;
    color: rgb(255, 230, 4);
}
.subheading-font-color-size{
    text-align: center;
    font-size: 200%;
    color: coral;
    font-weight: lighter;
}
.background-image {
    background-image: url(https://eatsleepandbreathejiujitsu.files.wordpress.com/2013/03/bjj1.jpg)
}
.h2-underline-font-color {
    text-align: center;
    font-size: 300%;
    color: coral;
    font-weight: lighter;
    text-decoration: underline;
}
.main-content {
    margin-left: 14%;
    margin-right: 14%;
    word-spacing: 0.01em;
    letter-spacing: 0.01em;
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
}
.about-dave-heading {
    font-weight: bold;
}
ul {
    list-style-type: square;
}
.footer-1 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
    text-align: center;
}
.footer-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
    text-align: center;
}
.footer-link {
    text-decoration: lightslategrey;
}
a.one:link {
    color: lightslategray;
    text-decoration: underline;
}
a.one:visited {
    color: lightslategray;
    text-decoration: none;
}
