/*website styles for website options navigation*/
.pod_navigation-violin {
    list-style-type: none;
    position: relative;
    top: 10px;
}
.pod_navigation-piano:link {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 1.1rem;
    letter-spacing: 0.03em;
    outline: none;
}
.pod_navigation-piano:visited {
    color: #000000;
}
.pod_navigation {
    float:left;
    position: relative;
    bottom: 10px;
    left: 20px;
    padding: 0 640px 0 0;
    text-decoration: none;
    color:#ff7f50; 
    font-size: 1.9rem;
    font-weight: lighter;
}
.pod_navigation ::after {
    clear: both;
}
.pod_navigation-piano {
    float: left;
    padding: 23px 0 30px 33px;
}
.pod_navigation-piano::after {
    clear: both;
}

/*top styles for page navigation end*/

/*website styles for footer*/
.pod_feet-style {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #778899;
}
.pod_feet-shoe {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #778899;
}
a.pod_feet-heel:link {
    text-decoration: underline;
    color: #778899;
    outline: none;
}
a.pod_feet-heel:visited {
    text-decoration: none;
    color: #778899;
}
/*website styles for footer end*/

/*about & pricelist pages for 'contact' active box styles*/
.pod_beans {
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
}
a.pod_beans-baked:link {
    text-decoration: none;
    color: #ffffff;
    outline: none;
}
a.pod_beans-baked {
    color: #ffffff;
}
a.pod_beans-baked:active {
    color: #ff7f50;
}

a.pod_beans-baked:hover {
    color: #ff7f50;
}
/*about & pricelist pages for 'contact' active box styles*/

/*website base style for unordered lists*/
ul.pod-til {
    list-style-type:none;
    list-style-position: outside;
}
li._till {
    text-indent: -40px;
    margin-left: 40px;
}
li._till:before {
    content: url(../img/right-arrow_16px.png);
    padding-right: 30px;
    color: #778899;
    display: inline-table;
    text-align: right;
}
/*website style for unordered lists*/

/*home styles*/
.l-grid_homepage {
    padding-bottom: 40px;
}
.l-grid-pod_visual {
    background-image: url(../img/wenge.jpg);
    position: relative; 
    top: 95px;
    padding: 140px 0 148px 0;
}
.pod_visual-topstyle {
    position: relative;
    top: 45px;
    width: 60em;
    border-style: solid;
    color:#ffffff;
}
.pod_visual-content {
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    color: #ffffff;
}
.pod_visual-bottom-style {
    position: relative;
    bottom: 45px;
    width: 60em;
    border-style: solid;
    color:#ffffff;
}
.pod_visual-formats {
    text-align: center;
    font-size: 2rem;
    color: #ff7f50;
    font-weight: lighter;
}
.l-grid-pod_flan {
    position: relative;
    top:130px;
    padding-bottom: 100px;
}
.pod_flan-content {
    text-align: center;
    font-size: 3rem;
    color: #ff7f50;
    font-weight: lighter;
}
.pod_flan-bottom-style {
    width: 80px;
    border-style: solid;
    color: #deb887;
    position: relative;
    bottom: 40px;
}
.l-grid-pod_major {
    margin: 0 170px;
    word-spacing: 0.01em;
    letter-spacing: 0.01em;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
}
.pod_major-choclate {
    font-weight: bold;
}
.pod_belly {
    position: relative;
    bottom: 15px;
    margin: 0 100px;
}
.l-grid_homefeet {
    padding: 10px 0 30px 0;
}
/*home styles end*/

/*about styles*/
.l-grid-pod_chips {
    padding-bottom: 80px;
}
.pod_ringside-champs {
    position: relative;
    bottom: 18px;
}
.l-grid-pod_cola {
    position: relative;
    padding: 20px 0 40px 0;
} 
.pod_cola-pops {
    color: #778899;
    text-align: center;
    font-size: 1.5rem;
}
.pod_cola-cherry {
    text-align: center;
    color: #b6b5b5;
    font-weight: lighter;
}
.pod_cola-lemon {
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_cola-pink {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 20px;
}
.pod_jammy-peanuts {
    position: relative;
    top: 550px;
    left: 520px;
    width: 500px;
}
.l-grid-pod_nosey::after {
    content: "";
    display: table;
    clear: both;
}
.pod_nosey-chocolate {
    float: left;
    width: 200px;
    height: 253px;
    margin-left: 80px;
}
.pod_nosey-smell {
    margin: 0 100px 0 330px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
}
.l-grid-pod_jammy {
    position: relative;
    top: 200px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
    margin: 0 100px 0 120px;
}
.pod_jammy-toes {
    float: right;
    height: 450px;
    width: 500px;
}
.pod_jammy-winnie {
    color: #b6b5b5;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: right;
    width: 462px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pod_jammy-tarp {
    font-size: 3rem;
    font-weight: lighter;
    color: #ff7f50;
    text-align: right;
    width: 462px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pod_jammy-crystal {
    width: 80px;
    border-style: solid;
    color: #deb887;
    position: relative;
    bottom: 15px;
    right: 40px;
}
.pod_jammy-tops {
    width: 462px;
    text-align: right;
}
.pod_jammy-hope {
    width: 462px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif
}
.pod_jammy-ok {
    color: #ff7f50;
    font-size: 1.5rem;
}
.l-grid-pod_jammy-dunny {
    width: 462px;
}
.pod_jammy-dunny {
    width:455px;
    list-style-type:none;
}
.l-grid-pod_bob {
    position: relative;
    top: 100px;
    padding-bottom: 300px;
}
.pod_rod {
    width:472px;
}
.pod_gary {
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
    font-weight: lighter;
}
.l-grid-pod_sticky {
    color: #778899;
    margin-left: 157px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_sticky-chocolate {
    color: #b6b5b5;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
}
.pod_sticky-corn {
    position: relative;
    top: 10px;
    font-size: 3rem;
    font-weight: lighter;
    color: #ff7f50;
    font-family: 'Times New Roman', Times, serif;
}
.pod_sticky-wow {
    width: 80px;
    border-style: solid;
    color: #deb887;
    position: relative;
    bottom: 5px;
    right: 260px;
}
.pod_sticky-barbie {
    line-height: 1;
}
.pod_sticky-funny {
    position: relative;
    top: 10px;
    color: #778899;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.pod_sticky-cars {
    line-height: 2;
}
.pod_sticky-joy {
    color: #ff7f50;
    font-size: 1.5rem;
}
.pod_sticky-bey {
    line-height: 2;
}
.l-grid-pod_yes {
    position: relative;
    top: 130px;
    padding-bottom: 250px;
    color: #778899;
    margin: 0 180px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_yes-good {
    position: relative;
    bottom: 40px;
    height: 60px;
    width: 240px;
    background-color: #ff7f50;
    margin-left: 510px;
    padding: 3px;
}
.pod_big {
    width: 230px;
    height: 200px;
    margin-left: 50px;
}
.l-grid-pod_fun {
    position: relative;
    top: 10px;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #778899;
}
.pod_fun-carried {
    font-family: Arial, Helvetica, sans-serif;
}
.pod_fun-done {
    margin-left: 90px;
}
.pod_fun-start {
    margin-left: 113px;
}
.pod_fun-go {
    margin-left: 100px;
}
.pod_fun-stop {
    margin-left: 130px;
}
.pod_fun-you {
    position: relative;
    top: 70px;
    margin: 0 100px 0 100px;
}
.pod_nosey-stretch {
    position: relative;
    top: 100px;
    right: 100px;
    align-content: center;
    margin: 0 100px;
}
.l-grid-pod_myself {
    padding: 100px 0 30px 0;
}
/*about styles end*/

/*timetable styles*/
.l-grid-pod_rare {
    padding-bottom: 80px;
}
.l-grid_rip {
    padding-top: 37px;
}
.pod_wake {
    position: relative;
    bottom: 35px;
}
.pod_wake-up {
    color: #778899;
    text-align: center;
}
.pod_wake-down {
    font-size: 4rem;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_wake-high {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 15px;
}
.l-grid-pod_tender {
    padding-bottom: 15px;
    color: #778899;
    margin: 0 160px 0 172px ;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.l-grid-pod_table {
    padding-bottom: 80px;
    color: #778899;
    margin: 0 160px 0 172px ;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_table-leg {
    font-size: 2rem;
    font-weight: lighter;
    color: #ff7f50;
    width: 300px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pod_table-stool {
    font-weight: bold;
}
.l-grid-pod_ego {
    position: relative;
    top: 35px;
    padding-bottom: 60px;
    margin: 0 100px;
}
.l-grid-pod_letter {
    color: #778899;
    margin: 0 160px 0 172px;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_letter {
    font-size: 2rem;
    font-weight: lighter;
    color: #ff7f50;
    width: 300px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.l-grid-pod_letter {
    color: #778899;
    margin: 0 160px 0 172px;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_letter-opener:link {
    color: #ff7f50;
    text-decoration: underline;
    outline: none;
}
.pod_letter-opener:visited {
    color: #db6e46;
}
.l-grid-pod_dance {
    padding-bottom: 30px ;
}
/*timetable styles end*/

/*pricelist styles*/
.l-grid-pod_drink {
    padding-bottom: 80px;
}
.pod_drink {
    position: relative;
    bottom: 35px;
}
.l-grid-pod_jester {
    padding: 37px 0 20px 0;
}
.pod_jester {
    color: #778899;
    text-align: center;
}
.pod_jester-tree {
    font-size: 4rem;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_jester-trunk {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 15px;
}
.l-grid-pod_hair {
    padding-bottom: 50px;
    margin: 0 283px;
    font-size: 1.5rem;
}
.pod_hair {
    font-size: 2.2rem;
    color: #ff8052;
}
.pod_hair-curly {
    margin-left: 555px;
}
.pod_hair-long {
    font-size: 2.2rem;
    color: coral;
}
.pod_hair-short {
    margin-left: 541px;
}
.pod_hair-tie {
    margin-left: 359px;
}
.pod_hair-dusty {
    font-size: 2.2rem;
    color: #ff7f50;
}
.pod_hair-cut {
    margin-left: 490px;
}
.pod_hair-style {
    margin-left: 416px;
}
.l-grid-pod_nuts {
    padding: 50px 0 25px 0;
    margin: 0 100px;
}
.l-grid-pod_bolts {
    padding-bottom: 30px;
}
.l-grid-pod_beans {
    height: 60px;
    width: 240px;
    background-color: #ff7f50;
    margin-left: 510px;
    padding: 3px;
}
/*pricelist styles end*/

/*contact styles*/
.l-grid-pod_movie {
    padding-bottom: 80px;
}
.pod_ringside-view {
    position: relative;
    bottom: 35px;
}
.l-grid-pod_seven {
    padding: 37px 0 40px 0;
} 
.pod_cola-seven {
    color: #778899;
    text-align: center;
    font-size: 1.5rem;
}
.pod_cola-lucky {
    text-align: center;
    color: #b6b5b5;
    font-weight: lighter;
}
.pod_cola-number {
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_cola-eleven {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 20px;
}
iframe {
    float: left;
    margin: 0 0 0 130px;
    padding: 30px 0 0 0;
}
.l-grid-pod_breakfast {
    margin: 0 0 0 800px;
    padding: 5px 0 0 0;
}
.pod_breakfast {
    list-style-type: none;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
._pancakes {
    list-style-type: none;
    padding-bottom: 20px;
    
}
._pancakes:before {
    content:url(../img/pin_4.png);
    position: relative;
    right: 15px;
}
._hashbrowns {
    color: #778899;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif ;
    list-style-type: none;
    padding: 20px 0 15px 0;
    margin-left: 22px;
}
._ketchup {
    list-style-type: none;
    padding: 10px 0 25px 0;
}
._ketchup:before {
    content: url(../img/call_24px.png);
    position: relative;
    right: 15px;
}
._bread {
    list-style-type: none;
    padding-bottom: 25px;
}
._bread:before {
    content: url(../img/mail_24px.png);
    position: relative;
    right: 15px;

}
._toast-up:link {
    color: #000000;
    outline: none;
}
._toast-up:active {
    color: #ff7f50;
}
._toast-up:hover {
    color: #ff7f50;
}
._toast-up:visited {
    color: #ff7f50;
}
._toast {
    list-style-type: none;
    padding-bottom: 25px;
}
._toast:before {
    content: url(../img/info_24px.png);
    position: relative;
    right: 15px;
}
._juice {
    list-style-type: none;
    padding-bottom: 25px;
}
._juice:before {
    content: url(../img/facebook_24px.png);
    position: relative;
    right: 15px;
}
._coffee {
    list-style-type: none;
}
._coffee:before {
    content: url(../img/twitter_24px.png);
    position: relative;
    right: 15px;
    padding-bottom: 70px;
}
.pod_highly {
   margin: 0 135px;
}
.pod_planet {
    color: #ff7f50;
    padding-top: 80px;
    font-size: 1.6rem;
    margin-left: 135px;
}
.pod_earth {
    color: #ff7f50;
    margin-left: 435px;
}
.l-grid-pod_watch{
    margin: 0 135px 0 625px;
    position: relative;
    bottom: 20px;
}
.pod_dial {
    color: #778899;
    font-size: 1.3rem;
}
.l-grid_pod-hanger {
    margin: 0 135px 0 625px; 
}
._pod-strangler {
    width: 490px;
    padding-left: 10px;
    height: 40px;
    font-size: 1rem;
    background-color: #f8f7f7;
}
._pod-sandler, ._pod-tangler {
    width: 480px;
    padding-left: 10px;
    height: 40px;
    font-size: 1rem;
    background-color: #f8f7f7;
}
._pod-handler {
    width: 480px;
    padding-left: 10px;
    height: 130px;
    font-size: 1rem;
    background-color: #f8f7f7;
}
._pod-bangler {
    padding: 15px 25px;
    position: relative;
    top: 20px;
    font-size: 1.2rem;
    background-color: #ff7f50;
    color: #ffffff;
}
.l-grid-pod_nutty {
    padding: 50px 0 25px 0;
    margin: 0 100px;
}
.l-grid-pod_alien {
    padding-bottom: 25px;
}
/*contact styles end*/

/*blog style start*/
.l-grid-pod_vamp {
    padding-bottom: 80px;
}
.l-grid_triangle {
    padding-top: 37px;
}
.pod_box-wake {
    color: #778899;
    text-align: center;
}
.pod_box {
    position: relative;
    bottom: 35px;
}
.pod_box-down {
    font-size: 4rem;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_box-high {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 5px;
}
.l-grid_monkey-buisness {
    display: flex;
    flex-direction: column;
}
.l-grid_monkey-buisness {
    margin: 100px 500px 100px 150px;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #778899;
}
._pencil {
    color: #ff7f50;
}
._roge {
    position: relative;
    bottom: 20px;
}
._monkey-paper, ._monkey-pencil, 
._monkey-board, ._monkey-glue,
._monkey-tape, ._monkey-chair,
._monkey-door, ._monkey-note,
._monkey-top, ._monkey-screen {
    position: relative;
    bottom: 20px;
}
._pencil-top {
    color: #ff7f50
}
._pencil-top:link {
    outline: none;
}
.pecil-top:visited {
    color: #ff7f50;
}
._pencil-world {
    color: #778899;
}
._pencil-world:link {
    outline: none;
}
._pencil-world:visited {
    color: #778899;
}
/*blog style end*/








