/*website styles for website options navigation*/

/* */
.website-logo {
    color:#ff7f50; 
    font-size: 2rem;
    margin-left: 30px;
    font-weight: lighter;
}
.navigation-bar {
    margin-left: 650px;
    word-spacing: 1.5em;
    font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 0.01em;
}
.navigation-bar-buttons:link {
    text-decoration: none;
    color: #000000;
}
.navigation-bar-buttons:visited {
    color: #000000;
}
.about-us {
    word-spacing: 0.1em
}
.aboutus-timetable {
    margin-left: 1.5em;
}
/*top styles for page navigation end*/

/*website styles for footer*/
.page-copyrights {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #778899;
}
.webnode-builder {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #778899;
}
a.webnode:link {
    text-decoration: underline;
    color: #778899;
}
a.webnode:visited {
    text-decoration: none;
    color: #778899;
}
/*website styles for footer end*/

/*about & pricelist pages for 'contact' active box styles*/
.link-contact {
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
}
a.contact:link {
    text-decoration: none;
    color: #ffffff;
}
a.contact:active {
    color: #ff7f50;
}
a.contact:hover {
    color: #ff7f50;
}
.contact-box {
    height: 60px;
    width: 240px;
    background-color: #ff7f50;
    margin-left: 510px;
    padding: 3px;
}
/*about & pricelist pages for 'contact' active box styles*/

/*website style for unordered lists*/
ul {
    list-style-type:none;
}
li {
    text-indent: -40px;
    margin-left: 40px;
}
li:before {
    content: ">";
    padding-right: 30px;
    color: #778899;
}
/*website style for unordered lists*/

/*home styles*/
.l-grid_homepage {
    padding-bottom: 40px;
}
.pod_navigation {
    position: relative;
    top: 20px;
}
.l-grid-pod_visual {
    background-image: url(../img/wenge.jpg);
    position: relative; 
    top: 65px;
    padding: 140px 0 148px 0;
}
.pod_visual-topstyle {
    position: relative;
    top: 45px;
    width: 60em;
    border-style: solid;
    color:#ffffff;
}
.pod_visual-content {
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    color: #ffffff;
}
.pod_visual-bottomstyle {
    position: relative;
    bottom: 45px;
    width: 60em;
    border-style: solid;
    color:#ffffff;
}
.pod_visual-formats {
    text-align: center;
    font-size: 2rem;
    color: #ff7f50;
    font-weight: lighter;
}
.l-grid-pod_flan {
    position: relative;
    top:130px;
    padding-bottom: 100px;
}
.pod_flan-content {
    text-align: center;
    font-size: 3rem;
    color: #ff7f50;
    font-weight: lighter;
}
.pod_flan-bottomestyle {
    box-align: center;
    width: 80px;
    border-style: solid;
    color: #deb887;
    position: relative;
    bottom: 40px;
}
.l-grid-pod_major {
    margin: 0 170px 0 170px;
    word-spacing: 0.01em;
    letter-spacing: 0.01em;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
}
.pod_major-choclate {
    font-weight: bold;
}
.pod_belly {
    position: relative;
    bottom: 15px;
    margin: 0 100px 0 100px;
}
.l-grid_homefeet {
    padding: 10px 0 30px 0;
}
/*home styles end*/

/*about styles*/
.l-grid-pod_chips {
    position: relative;
    top: 20px;
    padding-bottom: 80px;
}
.pod_ringside-champs {
    position: relative;
    bottom: 35px;
}
.l-grid-pod_cola {
    position: relative;
    padding: 80x 0 40px 0;
} 
.pod_cola-pops {
    color: #778899;
    text-align: center;
    font-size: 1.5rem;
}
.pod_cola-cherry {
    text-align: center;
    color: #b6b5b5;
    font-weight: lighter;
}
.pod_cola-lemon {
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_cola-pink {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 20px;
}
.pod_jammy-peanuts {
    position: relative;
    top: 550px;
    left: 520px;
    width: 500px;
}
.pod_nosey-chocolate {
    float: left;
    width: 200px;
    height: 253px;
    margin-left: 80px;
}
.pod_nosey-smell {
    margin: 0 100px 0 330px;
    line-height: 2;
    letter-spacing: 0.01;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
}
.l-grid-pod_jammy {
    position: relative;
    top: 200px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
    margin: 0 100px 0 120px;
}
.pod_jammy-toes {
    float: right;
    height: 450px;
    width: 500px;
}
.pod_jammy-winnie {
    color: #b6b5b5;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: right;
    width: 462px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pod_jammy-tarp {
    font-size: 3rem;
    font-weight: lighter;
    color: #ff7f50;
    text-align: right;
    width: 462px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pod_jammy-crystal {
    width: 80px;
    border-style: solid;
    color: #deb887;
    position: relative;
    bottom: 15px;
    right: 40px;
}
.pod_jammy-tops {
    width: 462px;
    text-align: right;
}
.pod_jammy-hope {
    width: 462px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif
}
.pod_jammy-ok {
    color: #ff7f50;
    font-size: 1.5rem;
}
.l-grid-pod_jammy-dunny {
    width: 462px;
}
.pod_jammy-dunny {
    width:455px;
}
.l-grid-pod_bob {
    position: relative;
    top: 100px;
    padding-bottom: 300px;
}
.pod_rod {
    width:472px;
}
.pod_gary {
    font-family: Arial, Helvetica, sans-serif;
    color: #778899;
    font-weight: lighter;
}
.l-grid-pod_sticky {
    color: #778899;
    margin-left: 157px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_sticky-chocolate {
    color: #b6b5b5;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
}
.pod_sticky-corn {
    position: relative;
    top: 10px;
    font-size: 3rem;
    font-weight: lighter;
    color: #ff7f50;
    font-family: 'Times New Roman', Times, serif;
}
.pod_sticky-wow {
    width: 80px;
    border-style: solid;
    color: #deb887;
    position: relative;
    bottom: 5px;
    right: 260px;
}
.pod_sticky-barbie {
    line-height: 1;
}
.pod_sticky-funny {
    position: relative;
    top: 10px;
    color: #778899;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.pod_sticky-cars {
    line-height: 2;
}
.pod_sticky-joy {
    color: #ff7f50;
    font-size: 1.5rem;
}
.pod_sticky-bey {
    line-height: 2;
}
.l-grid-pod_yes {
    position: relative;
    top: 130px;
    padding-bottom: 250px;
    color: #778899;
    margin: 0 180px 0 180px;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_yes-good {
    position: relative;
    bottom: 40px;
    height: 60px;
    width: 240px;
    background-color: #ff7f50;
    margin-left: 510px;
    padding: 3px;
}
.pod_big {
    width: 230px;
    height: 200px;
    margin-left: 50px;
}
.l-grid-pod_fun {
    position: relative;
    top: 10px;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #778899;
}
.pod_fun-carried {
    font-family: Arial, Helvetica, sans-serif;
}
.pod_fun-done {
    margin-left: 90px;
}
.pod_fun-start {
    margin-left: 113px;
}
.pod_fun-go {
    margin-left: 100px;
}
.pod_fun-stop {
    margin-left: 130px;
}
.pod_fun-you {
    position: relative;
    top: 70px;
    margin: 0 100px 0 100px;
}
.pod_nosey-stretch {
    position: relative;
    top: 100px;
    right: 100px;
    align-content: center;
    margin: 0 100px 0 100px;
}
.l-grid-pod_myself {
    padding: 100px 0 30px 0;
}
/*about styles end*/

/*timetable styles*/
.l-grid-pod_rare {
    position: relative;
    top: 20px;
    padding-bottom: 80px;
}
.pod_wake {
    position: relative;
    bottom: 35px;
}
.pod_wake-up {
    color: #778899;
    text-align: center;
}
.pod_wake-down {
    font-size: 4rem;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.pod_wake-high {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 15px;
}
.l-grid-pod_tender {
    padding-bottom: 15px;
    color: #778899;
    margin: 0 160px 0 172px ;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.l-grid-pod_table {
    padding-bottom: 80px;
    color: #778899;
    margin: 0 160px 0 172px ;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_table-leg {
    font-size: 2rem;
    font-weight: lighter;
    color: #ff7f50;
    width: 300px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pod_table-stool {
    font-weight: bold;
}
.l-grid-pod_ego {
    position: relative;
    top: 35px;
    padding-bottom: 60px;
    margin: 0 100px 0 100px;
}
.l-grid-pod_letter {
    color: #778899;
    margin: 0 160px 0 172px;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_letter {
    font-size: 2rem;
    font-weight: lighter;
    color: #ff7f50;
    width: 300px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.l-grid-pod_letter {
    color: #778899;
    margin: 0 160px 0 172px;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.pod_letter-opener:link {
    color: #ff7f50;
    text-decoration: underline;
}
.pod_letter-opener:visited {
    color: #db6e46;
}
.l-grid-pod_dance {
    padding-bottom: 30px ;
}
/*timetable styles end*/

/*pricelist styles*/
.l-grid-pod_drink {
    position: relative;
    top: 20px;
    padding-bottom: 80px;
}
.navigation-divider-pricelist {
    position: relative;
    bottom: 35px;
}
.lovely-style-pricelist {
    border-style: solid;
    width: 80px;
    color: #deb887;
    position: relative;
    bottom: 15px;
}
.the-big-show-pricelist {
    padding-bottom: 20px;
}
.starting-young-pricelist {
    padding-bottom: 50px;
    margin: 0 283px 0 283px;
    font-size: 1.5rem;
}
.nice-page-breaks-pricelist {
    padding: 50px 0 25px 0;
    margin: 0 100px 0 100px;
}
.footer-content-pricelist {
    padding-bottom: 30px;
}
.how-much-pricelist {
    color: #778899;
    text-align: center;
}
.great-pricelist {
    font-size: 4rem;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: lighter;
    color: #ff7f50;
}
.juniors-pricelist {
    font-size: 2.2rem;
    color: #ff8052;
}
.adults-pricelist {
    font-size: 2.2rem;
    color: coral;
}
.private-tuition-pricelist {
    font-size: 2.2rem;
    color: #ff7f50;
}
.money-5-pricelist {
    margin-left: 555px;
}
.money-10-pricelist {
    margin-left: 541px;
}
.money-20-pricelist {
    margin-left: 359px;
}
.money-60-pricelist {
    margin-left: 490px;
}
.money-125-pricelist {
    margin-left: 416px;
}
/*pricelist styles end*/

/*contact styles*/
.navigation-container-contact {
    position: relative;
    top: 20px;
    padding-bottom: 80px;
}
.navigation-divider-contact {
    position: relative;
    bottom: 35px;
}

/*contact styles end*/








