.ibjj {
    color:coral; 
    font-size: 190%;
    margin-left: 2%;
    font-weight: lighter;
}
.margin-left-font-size-color {
    margin-left: 53%;
    word-spacing: 1.5em;
    font-size: 110%;
    font-weight: lighter;
    letter-spacing: 0.01em;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.word-spacing {
    word-spacing: 0.1em
}
.margin-spacing {
    margin-left: 1.5em;
}
.first-section {
    color: lightslategray;
    text-align: center;
}
.Timetable {
    font-size: 370%;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: lighter;
    color: rgb(255, 127, 80);
    text-decoration: underline
}
.second-section {
    color: lightslategray;
    margin-left: 14%;
    margin-right: 14%;
    line-height: 2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.Ilford-Timetable {
    font-size: 190%;
    font-weight: lighter;
    color: rgb(255, 127, 80);
    width: 45%;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.third-section {
    color: lightslategray;
    margin-left: 14%;
    margin-right: 14%;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.Sunday-Class {
    font-weight: bold;
}
.Dartford-Timetable {
    font-size: 190%;
    font-weight: lighter;
    color: rgb(255, 127, 80);
    width: 45%;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.fouth-section {
    color: lightslategray;
    margin-left: 14%;
    margin-right: 14%;
    line-height: 3;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.one:link {
    color: rgb(255, 127, 80);
    text-decoration: underline;
}
.one:visited {
    color: rgb(219, 110, 70);
}
.footer-1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
}
.footer-2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
}
a.two:link {
    color: lightslategray;
    text-decoration: underline;
}
a.two:visited {
    color: lightslategray;
    text-decoration: none;
}
.footer-short {
    margin-left: 7%;
    margin-right: 7%;
}

